<%= turbo_frame_tag 'modal' do %>
  <div class="modal-backdrop show" data-controller="modals" data-action="click->modals#close"></div>
  <div class="modal show d-block" data-controller="modals" data-action="keydown.esc@document->modals#close">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <%= render(TransferCardComponent.new(transfer: @transfer)) %>
      </div>
    </div>
  </div>
<% end %>
