<p>Hello <%= @resource.fullname %>!</p>
<p>We're contacting you to notify you that your password has been changed.</p>
<p>Best Regards,<br/>
  <b>AFBank</b>
</p>
<%= image_tag 'afbank-logo.png', width: 400, height: 140 %>
